<!DOCTYPE html>
<html>
<head>
  <title>Weekend App</title>
  <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
  <link rel="stylesheet" href="./stylesheet/results.css">
  <script src="./src/script.js"></script>
</head>
<body>
  <div class="results-box">
    <h1 class="main-header"> Ping! n go</h1>
    <h1 class="results-header">Events found closest to <storng><%= data.location %></strong> </h1>
    <p> Event <%= e1_id%> - $<%= e1_price%>, Distance <%= e1_distance%></p>
    <p> Event <%= e2_id%> - $<%= e2_price%>, Distance <%= e2_distance%></p>    
    <p> Event <%= e3_id%> - $<%= e3_price%>, Distance <%= e3_distance%></p>
    <p> Event <%= e4_id%> - $<%= e4_price%>, Distance <%= e4_distance%></p>
    <p> Event <%= e5_id%> - $<%= e5_price%>, Distance <%= e5_distance%></p>
  </div>
</body>
</html>
